<!DOCTYPE html>
<head>
	<title>AdminKIT - Premium Admin Template (v1.5)</title>
	
	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	
	<!-- Bootstrap -->
	</head>
<body class="login">
	
	<!-- Wrapper -->
<div id="login">

	<!-- Box -->
	<div class="form-signin">
		<h3>Create Account <span>Already a member? <a href="/users/sign_in">Sign in</a></span></h3>
		
		<!-- Form -->
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>
		<div class="row-fluid">
			<div class="span6">
				<div class="inner">
					<label class="strong">Email</label>
					<%= f.email_field :email, autofocus: true, class: "input-block-level", placeholder: "Your Email Address" %>
					
					
					<label class="strong">Password</label>
					
					<% if @validatable %>
    				<em>(<%= @minimum_password_length %> characters minimum)</em>
    				<% end %><br />
    				<%= f.password_field :password, autocomplete: "off", placeholder: "Your Password", class: "input-block-level" %>
					
					<label class="strong">Confirm Password</label>
					<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation Password", class: "input-block-level" %>
				    
				    <%= f.submit "Sign up", class: "btn btn-icon-stacked btn-block btn-success glyphicons user_add" %>  
				    
					<%= render "devise/shared/links" %>
				</div>
			</div>
			
		</div>
		<%end%>
		
		<div class="ribbon-wrapper"><div class="ribbon success">register</div></div>
	</div>
	<!-- // Box END -->
	
</div>
<!-- // Wrapper END -->	

</body>
</html>
