.heading-buttons
  %br
  %br
  %h3
    Send Email
    %span | according to entered Email ID.
  .clearfix

.innerLR
  = form_for :email, :url => {:controller => "emails", :action => "create", :method => "post" } do |f|

    .widget.widget-tabs
      .widget-body
        .tab-content
          #productDescriptionTab.tab-pane.active
 
            .row-fluid
              .span3
                %strong Choose question
                %p.muted Choose question to ask from all senders..
              .span9
                %label{:for => "inputTitle"} Choose question
                = f.text_field :question, placeholder: "Enter question...", required: true
                =# f.collection_select :question_id, Question.order(:description),:id,:description, class: "span6"  ,placeholder: "Enter Email ID ...", height: "100", width: "50"
                .separator
            %hr.separator.bottom/

            .row-fluid
              .span3
                %strong Choose Listener
                %p.muted Choose Listener on the behalf of which you want to ask question.
              .span9
                %label{:for => "inputTitle"} Listener Name
                = f.collection_select :listener_id, User.order(:username),:id,:username, class: "span6"  ,placeholder: "Enter Email ID ...", height: "100", width: "50"
                = f.hidden_field :questioner_id, value: current_user.id
                .separator
            %hr.separator.bottom/



      .heading-buttons
        .buttons.pull-right{:style => "margin: 0;"}
          = f.submit "Send Email to all Users", :class => "btn btn-primary btn-icon glyphicons ok_2"

%br
%br
